{% extends 'djpaste/base.html' %}

{% block content %}
<div id="help">
<p>
DjPaste is a pastebin written in Django. It was built as part of <a href="http://www.7days7apps.com/">7days7apps</a> project.
It is heavily <del>stolen</del> inspired from <a href="http://dpaste.com/">Dpaste.com</a>, but the codebase is in no way related.
</p>
<p>
    Pasting content with DjPaste is very easy. You just choose the type of the code you are pasing, paste, and hit the button. Magic starts happening.
    Only text is the required field. All other fields are optional.
</p>
<p> Super Special Features:
    <ul>
        <li>Automatically focuses to Code field, so you can paste fast.</li>
        <li>Remembers previous choices.</li>
        <li>No unnecessary fields.</li>
    </ul>
               
</p>
</div>
{% endblock %}